<div class="wrapper fadeInDown">
    <div id="formContent">

        <div class="padding"></div>
        <div class="fadeIn first">
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        </div>
        <div class="padding"></div>

        <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="email" [(ngModel)]="email">
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="password"
                [(ngModel)]="password">
            <input type="text" id="displayName" class="fadeIn third" name="displayName" placeholder="displayName"
                [(ngModel)]="displayName">

            <input type="submit" class="fadeIn fourth" value="Register" (click)="signUp()">
        </form>
    </div>
</div>